@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Martian Mono", sans-serif;
  background-color: aliceblue;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #1a2a44;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #1a2a44;
}
h4 {
  font-size: 20px;
  color: #1a2a44;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #1a2a44;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  padding: 40px 0px;
}

/*Header*/
#header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #1a2a44;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  height: 350px;
  margin: 15px 0px;
  padding: 60px 0px;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  list-style: none;
  padding: 0px 25px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #efe7dc;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #efe7dc;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #efe7dc;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/*Hero Section*/
#hero {
  background-image: url("asset/hero_banner.avif");
  height: 78vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

#hero {
  position: relative;
}
#hero .btn-shop {
  position: absolute;
  bottom: 80px;
  left: 170px;

  padding: 12px 28px;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;

  background: transparent;
  transition: all 0.3s ease;
}

#hero .btn-shop:hover {
  background-color: #000000;
  color: #ffffff;
}

/*feature strip*/
.sale-strip {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #fff;

  display: flex;
  align-items: center;
}

.sale-track {
  display: flex;
  width: calc(200%);
  animation: scroll 10s linear infinite;
}

.sale-track img {
  width: 1800px;
  height: 70px;
  object-fit: cover;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* feature tags*/

#feattag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#feattag .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  background-color: rgb(255, 255, 246);
  box-shadow: 10px 10px 54px rgba(70, 60, 221, 0.1);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feattag .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
#feattag .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feattag .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #1c1c1c;
  background-color: aquamarine;
}
#feattag .fe-box:nth-child(2) h6 {
  background-color: rgb(255, 127, 236);
}
#feattag .fe-box:nth-child(3) h6 {
  background-color: rgb(127, 255, 155);
}
#feattag .fe-box:nth-child(4) h6 {
  background-color: rgb(127, 176, 255);
}
#feattag .fe-box:nth-child(5) h6 {
  background-color: rgb(255, 221, 127);
}

/*Products design*/

#product1 {
  text-align: center;
}
#product1 .product_containers {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .products {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
  margin: 15px 0;
  position: relative;
}
#product1 .products:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
#product1 .products img {
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
}
#product1 .products .descriptions {
  text-align: start;
  padding: 10px 0;
}
#product1 .products .descriptions span {
  color: #606063;
  font-size: 12px;
}
#product1 .products .descriptions h4 {
  padding-top: 4px;
  color: rgb(102, 0, 255);
  font-size: 20px;
}
#product1 .products .descriptions i {
  padding: 2px 0;
  color: #f5c518;
  font-size: 12px;
}
#product1 .products .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #1a2a44;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #1a2a44;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#banner {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner h4 {
  color: #1a2a44;
  font-size: 30px;
}
#banner h2 {
  color: #1a2a44;
  font-size: 40px;
  padding: 20px 0;
}
#banner h2 span {
  color: rgb(255, 0, 0);
}
#banner #btn {
  padding: 12px 28px;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  color: #1c1c1c;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;

  background: transparent;
  transition: all 0.3s ease;
}
#banner #btn:hover {
  background-color: #1c1c1c;
  color: #fff;
}