@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Martian Mono", sans-serif;
  background-color: aliceblue;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #1a2a44;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #1a2a44;
}
h4 {
  font-size: 20px;
  color: #1a2a44;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #1a2a44;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  padding: 40px 0px;
}

/*Header*/
#header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #1a2a44;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  height: 350px;
  margin: 15px 0px;
  padding: 60px 0px;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  list-style: none;
  padding: 0px 25px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #efe7dc;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #efe7dc;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #efe7dc;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/*Hero Section*/
#hero {
  background-image: url("asset/hero_banner.avif");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

#hero {
  position: relative;
}

/* 🔥 Shop Now Button */
#hero .btn-shop {
  position: absolute;
  bottom: 120px; /* adjust up/down */
  left: 200px; /* adjust left/right */

  padding: 12px 28px;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  color: #1c1c1c;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;

  background: transparent;
  transition: all 0.3s ease;
}

#hero .btn-shop:hover {
  background-color: #1c1c1c;
  color: #fff;
}

/*feature strip*/
.sale-strip {
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #fff;

  display: flex;
  align-items: center;
}

.sale-track {
  display: flex;
  width: calc(200%);
  animation: scroll 10s linear infinite;
}

.sale-track img {
  width: 1800px;
  height: 70px;
  object-fit: cover;
}

/* animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* feature tags*/

#feattag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#feattag .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  background-color: rgb(255, 255, 246);
  box-shadow: 10px 10px 54px rgba(70, 60, 221, 0.1);

  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feattag .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);

  transform: translateY(-5px);
}
#feattag .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feattag .fe-box h6{
        display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #1c1c1c;
    background-color: aquamarine;
}
#feattag .fe-box:nth-child(2) h6{
    background-color: rgb(255, 127, 236);
}
#feattag .fe-box:nth-child(3) h6{
    background-color: rgb(127, 255, 155);
}
#feattag .fe-box:nth-child(4) h6{
    background-color: rgb(127, 176, 255);
}
#feattag .fe-box:nth-child(5) h6{
    background-color: rgb(255, 221, 127);
}

#product1 {
    width: 100%;
    height: 180px;
}

